.button {
  margin-right: 45px;
}

body{
  background-color: aqua;
}

.header{
  background-color: rgb(95, 227, 183)
;    padding-bottom: 60px;
padding-top: 30px;
}

.player   {
  color: green;
font-size: 80px;
  
  
 top: 15px;
  left: 36px;}

.custom-img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.form-search-item{
  font-size: larger;
}

.container{
  margin-left: 200px;
  margin-top: 15px;
  display: block;
}
.container2{
  
  margin-top: 15px;
}

.sports{
  margin-left: 200px;
  margin-top: 15px;
}

.select-styled{
  margin-left: 200px;
}

.dropdown-label{
  margin-left: 200px;
}
.search-button {
  margin-left: 200px;
  margin-top: 15px;
}

.town{
  margin-top: 5px;
}